<div class="infos-playlist" *ngIf="shareItem">
  <h1>{{shareItem.name}}</h1>
</div>
<div class="playlist" [ngClass]="{'fixed': fixed === true}">
  <a *ngFor="let song of songs; let index = index;"
     [musicPlayer]="'play'"
     [song]="song"
     [class.current]="currentPlaying && currentPlaying.id == song.id"
     [class.playing]="currentPlaying && state === true"
     (click)="playSong()"
  >
    <span>{{index + 1}}</span>
    <span class="song-title show-responsive">{{ song.title | shorten: 23 : '...' }} <br><span style="margin-left: 0; margin-top: 8px; padding: 0; text-align: left">{{ song.artist | shorten: 15 : '...' }}</span></span>
    <span class="song-title hide-responsive">{{ song.title | shorten: 35 : '...' }}</span>
    <span class="hide-responsive">{{ song.artist | shorten: 15: '...'}}</span>
    <span class="duration">{{ song.duration | minutesSeconds }}</span>
  </a>
</div>
