@import '~src/app/components/home/home.component';

.infos-playlist {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  h1 {
    color: #252525;
    font-size: 36px;
    line-height: 1.1;
  }
  .description {
    position: relative;
    .show-description {
      background-color: #ffffff;
      box-sizing: border-box;
      height: 185px;
      border-radius: 6px;
      box-shadow: 0 1px 9px 1px rgba(0, 0, 0, 0.08);
      min-height: 168px;
      left: -420px;
      padding: 22px 50px 30px 30px;
      position: absolute;
      top: -130px;
      width: 474px;
    }
    img {
      position: relative;
      cursor: pointer;
      z-index: 99;
    }
    p {
      box-sizing: border-box;
      color: #000000;
      font-family: 'Work Sans', sans-serif;
      font-size: 11px;
      font-weight: 300;
      height: 99px;
      line-height: 1.33;
      overflow-y: auto;
      padding-right: 12px;
      width: 88%;
    }
    span.close-description {
      color: #dddddd;
      cursor: pointer;
      font-size: 16px;
      position: absolute;
      right: 12px;
      top: 4px;
    }

    span.title-description {
      border-bottom: 1px solid #ededed;
      border-top: 1px solid #ededed;
      color: #000000;
      display: block;
      font-size: 12px;
      margin-bottom: 12px;
      line-height: 1.2;
      padding: 8px 0;
      text-transform: uppercase;
      width: 88%;
    }
  }
}

.playlist {
  height: 85%;
  padding: 10px 0 0 28px;
  overflow-y: auto;
  @media screen and (max-height: 800px){
    height: 76%;
  }
  @media screen and (max-height: 700px){
    height: 70%;
  }
  @media screen and (max-width: $break-tabs) {
    &.fixed {
      margin-top: 102px;
      @supports (-webkit-overflow-scrolling: touch) {
        margin-top: 150px;
      }
    }
  }
  @media screen and (max-width: $break-xs) {
    &.fixed {
      @supports (-webkit-overflow-scrolling: touch) {
        margin-top: 230px;
      }
    }
  }
  a.current {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
    border-top: 0 solid #ffffff;
    position: relative;
  }
  a {
    align-items: center;
    display: inline-flex;
    font-family: 'Work Sans', sans-serif;
    font-size: 12.5px;
    font-weight: 500;
    height: 28px;
    width: 100%;
    //border-top: solid 0.2px #cccccc;
    padding: 4px 0;
    position: relative;
    &:after {
      background-color: #dbdbdb;
      content: '';
      height: 1px;
      left: 18px;
      position: absolute;
      top: 36px;
      width: 94%;
    }
    &:hover {
      cursor: pointer;
      span {
        color: #ff5353;
      }
      @media screen and (max-width: $break-tabs) {
        background: transparent;
      }
      &:before {
        background: url('/assets/img/icons/play-hover.svg') no-repeat center center;
        background-size: cover;
        content: '';
        height: 16px;
        left: -14px;
        position: absolute;
        width: 16px;
        @media screen and (max-width: $break-tabs) {
          top: 45%;
        }
      }
    }
    @media screen and (max-width: $break-sm) {
      padding: 8px 0;
    }
    span:first-child {
      box-sizing: border-box;
      font-family: 'Work Sans', sans-serif;
      font-weight: 300;
      margin-right: 28px;
      order: 1;
      padding-left: 4%;
      min-width: 30px;
      @media screen and (min-width: 1200px) {
        min-width: 55px;
        padding-left: 40px;
      }
    }
    span:nth-child(3) {
      font-weight: 500;
      margin-right: 60px;
      order: 2;
      min-width: 250px;
    }
    span:nth-child(4) {
      font-weight: 400;
      margin-right: 77px;
      order: 3;
      min-width: 120px;
    }
    span:nth-child(5) {
      order: 4;
    }
    span:nth-child(6) {
      order: 5;
      margin-right: 10%;
      width: 30px;
    }
    span:nth-child(7) {
      order: 7;
      width: 50px;
    }
    span:last-child {
      color: #ababab;
      font-weight: 400;
      margin-right: 50px;
      order: 6;
      width: 34px;
    }
    &:first-child {
      border-top: none;
    }
    span.hide-responsive {
      white-space: nowrap;
    }
  }
  a.current:before {
    background: url('/assets/img/play-icon.svg') no-repeat center center;
    background-size: cover;
    content: '';
    height: 56px;
    left: -32px;
    position: absolute;
    width: 56px;
  }
  a.current.playing:before {
    background: url('/assets/img/icons/onplay.svg') no-repeat center center;
    background-size: cover;
    content: '';
    height: 50px;
    left: -26px;
    position: absolute;
    top: -6px;
    width: 50px;
    @media screen and (max-width: $break-tabs) {
      top: 45%;
    }
  }
  a.current:after {
    content: none;
  }
  a.current + a {
    border-top: none;
    padding-top: 5px;
  }

  .like-icon {
    display: flex;
    width: 10%;
    margin-right: 20px;
    span {
      display: block;
      width: 30% !important;
      padding: 0 !important;
      position: relative;
      z-index: 999;
    }
  }

  .img-comments {
    height: 18px;
    margin-right: 12px;
    width: 18px;
  }

  mat-icon {
    color: white;
  }
}

//RESPONSIVE
@media screen and (max-width: 1400px) {
  .playlist {
    a {
      span:nth-child(6) {
        margin-right: 2%;
      }
      span:nth-child(7) {
        //order: 6;
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  .playlist {
    a {
      span:nth-child(4) {
        margin-right: 36px;
      }
      span:last-child {
        margin-right: 8px;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .infos-playlist {
    display: none;
  }
  .playlist {
    padding-left: 0;
    height: unset;
    overflow-y: unset;
    a {
      border-top: solid 0.2px #cccccc;
      justify-content: space-between;
      &:after {
        content: none;
      }
      span:first-child {
        margin-right: 16px;
      }
      span.show-responsive {
        margin-top: 8px;
      }
      span:nth-child(2) {
        margin-right: 16px;
        width: 120px;
      }
      span {
        .img-comments {
          margin-right: 8px;
        }
      }
      span:nth-child(5),
      span:nth-child(6) {
        margin-right: 0;
      }
      span.duration {
        color: #262626;
        margin-right: 16px;
        order: 3;
      }
    }
    a.current.playing:before {
      top: -6px;
      left: -8px;
    }
    a.current:before {
      top: -10px;
      left: -14px;
    }
    a.current {
      span {
        &:first-child {
          opacity: 0;
        }
      }
    }
  }
}

@media screen and (max-width: $break-tabs) {
  .playlist {
    a {
      height: 60px;
      padding: 8px 0;
      span:nth-child(2) {
        order: 2;
      }
      span.button-comment {
        order: 8;
      }
    }
    a.current.playing:before {
      top: 14px;
      left: -16px;
    }
    a.current:before {
      top: 10px;
      left: -22px;
    }
  }
}

@media screen and (max-width: $break-sm) {
  .playlist {
    a {
      &:after {
        top: 50px;
      }
    }
    a.current.playing:before {
      //top: 24px;
      //left: -16px;
    }
    a.current:before {
      //top: 20px;
      //left: -22px;
    }
  }
}

@media screen and (max-width: 500px) {
  .playlist {
    a {
      padding: 0;
      &:hover {
        &:before {
          content: none;
        }
      }
      span {
        &:nth-child(2) {
          margin-right: 12px;
          margin-top: 0;
          min-width: 220px;
        }
      }
      span:last-child {
        margin-right: 36px;
        display: block;
      }
      span.duration {
        display: none;
      }
    }
    a.current.playing:before {
      top: 6px;
      left: -16px;
    }
    a.current:before {
      top: 2px;
      left: -22px;
    }
  }
}

@media screen and (max-width: 400px) {
  .playlist {
    a {
      span:nth-child(2) {
        margin-right: 0;
        width: 172px;
        min-width: unset;
      }
      span:last-child {
        margin-right: 16px;
      }
    }
    a.current.playing:before {
      left: -14px;
    }
    a.current {
      &:before {
        left: -20px;
      }
    }
  }
}
