@import '~src/styles';
@import 'src/styles/responsive.scss';

h1 {
  color: #fff;
}

.container {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 2;
  height: 100vh;
  .mask-white {
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.9);
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
  }
  @media screen and (max-width: 500px) {
    width: 100%;
  }
}

.player-container,
.intro {
  display: flex;
}

.content {
  box-sizing: border-box;
  display: flex;
  padding: 50px 65px 0 50px;
  position: relative;
  width: 100%;
  z-index: 4;
  .cover {
    box-sizing: border-box;
    width: 28%;
    padding-right: 28px;
    h1 {
      display: none;
    }
    img {
      border-radius: 6px;
      box-shadow: 8px 5px 5px rgba(225, 225, 225, 0.45);
      max-width: 100%;
    }
  }
  ebo-playlist {
    height: 75vh;
    width: 72%;
  }
  @media screen and (max-width: 1440px) {
    .cover {
      width: 30%;
      img {
        max-width: 100%;
      }
    }
    ebo-playlist {
      width: 70%;
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  z-index: 4;
}

//RESPONSIVE
@media screen and (max-width: 1100px) {
  .container {
    background-image: none !important;
    .mask-white {
      display: none;
    }
    .content {
      display: flex;
      flex-direction: column;
      padding: 0 12px;
      .cover {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 16px 16px 0;
        top: 0;
        width: 100%;
        img {
          margin: 0 auto 28px;
          max-height: 500px;
          max-width: 500px;
        }
        .show-responsive {
          color: #252525;
          display: block;
          font-family: 'Cera Bold', sans-serif;
          font-size: 25px;
          font-weight: bold;
          line-height: 1.54;
        }
        &.mobile {
          align-items: center;
          background: rgba(255, 255, 255, 1);
          border-bottom: solid 0.2px #ededed;
          flex-direction: row;
          margin: 0;
          padding: 15px 28px;
          position: fixed;
          top: 0;
          width: 100%;
          z-index: 999;
          transition: all ease-in-out 0.1s;
          img {
            margin: 0 15px 0 0;
            max-height: 60px;
          }
        }
      }
      ebo-playlist {
        box-sizing: border-box;
        margin-top: 4px;
        margin-bottom: 80px;
        height: unset;
        padding: 0 16px;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .container {
    .content {
      .cover {
        img {
          max-height: 400px;
          max-width: 400px;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .container {
    .content {
      .cover {
        width: 100%;
        img {
          max-height: 300px;
          max-width: 300px;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .container {
    .content {
      padding: 0;
      .cover {
        img {
          max-height: 250px;
          max-width: 250px;
        }
        &.mobile {
          h1.show-responsive {
            font-size: 22px;
          }
        }
      }
    }
  }
}
