<div class="container" [ngStyle]="{ 'background-image': 'url(' + artwork + ')' }">
  <div class="mask-white"></div>
  <div class="content">
    <div class="cover" [ngClass]="{'mobile': fixed === true}">
      <img src="{{artwork}}" alt="artwork shareitem">
      <h1 class="show-responsive" *ngIf="shareItemInterface">{{shareItemInterface.name}}</h1>
    </div>
    <ebo-playlist [songs]="songs" [shareItem]="shareItemInterface"></ebo-playlist>
  </div>
  <footer>
    <ebo-player [songs]="songs" [shareItem]="shareItemInterface"></ebo-player>
    <ebo-chatbot></ebo-chatbot>
  </footer>
</div>
