$small-mobile-width: 320px;
$mobile-width: 321px;
$tablet-width: 768px;
$desktop-width: 1024px;
$large-width: 1280px;
$small-height: 670px;
$medium-height: 800px;

@mixin mobile {
  @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin large-desktop {
  @media (min-width: #{$large-width}) {
    @content;
  }
}

@mixin small-height {
  @media (max-height: #{$small-height}) {
    @content
  }
}

@mixin medium-height {
  @media (max-height: #{$medium-height}) {
    @content
  }
}

@mixin small-mobile{
  @media (min-width: 0px and (max-width: #{$small-mobile-width})) {
    @content
  }
}
