@import '~src/app/components/home/home.component';

// Animations
@keyframes fadeInLeft {
  from {
    left: 0px;
  }

  to {
    left: -300px;
  }
}

.fadeInLeft {
  animation: 8s ease-in 1s infinite fadeInLeft;
  position: relative;
  white-space: nowrap;
}

.player-container {
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 -5px 10px -1px rgba(223, 223, 223, 0.45);
  box-sizing: border-box;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: flex;
  height: 71px;
  justify-content: space-between;
  padding: 0 50px;
  width: 100vw;
  .cover {
    display: flex;
    width: 20%;
    .cover-img {
      height: 68px;
      width: 68px;
      margin-right: 14px;
      img {
        border-radius: 6px;
        bottom: 36%;
        max-width: 68px;
        position: relative;
      }
    }
    .title {
      padding-top: 14px;
      min-width: 200px;
      overflow: hidden;
      @media screen and (max-width: 600px) {
        max-width: 330px;
      }
      @media screen and (max-width: 500px) {
        max-width: 290px;
      }
      @media screen and (max-width: 420px) {
        max-width: 250px;
      }
      @media screen and (max-width: 390px) {
        max-width: 220px;
      }
      @media screen and (max-width: 350px) {
        max-width: 190px;
      }
      @media screen and (max-width: 330px) {
        max-width: 180px;
      }
      &.mobile {
        display: none;
      }
      span {
        color: #51596d;
        display: block;
        font-size: 15px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.13;
        letter-spacing: normal;
        text-transform: capitalize;
        white-space: nowrap;
        &:hover {
          animation: 5s ease-in 1s infinite fadeInLeft;
          position: relative;
        }
        &:last-child {
          color: #ababab;
        }
      }
    }
  }
  .controls {
    display: flex;
    flex-direction: column;
    width: 40%;
    &.mobile {
      display: none;
    }
    button {
      display: block;
      height: 24px;
      margin: 0 10px;
      width: 24px;
    }
    .top-controls {
      display: flex;
      height: 50%;
      justify-content: center;
      width: 100%;
      button {
        position: relative;
        top: 10px;
      }
      .repeat {
        background: url('/assets/img/icons/repeat-gris-fonce.svg') no-repeat center center;
        background-size: contain;
        z-index: 99;
      }
      .next {
        background: url('/assets/img/icons/icon_next.svg') no-repeat center center;
        background-size: contain;
      }
      .play {
        background: url('/assets/img/play-icon.svg') no-repeat center center;
        background-size: contain;
        bottom: 36px;
        height: 72px;
        margin: 0 10px;
        position: relative;
        top: unset;
        width: 72px;
      }
      .pause {
        background: url('/assets/img/pause.svg') no-repeat center center;
        background-size: contain;
        bottom: 36px;
        height: 72px;
        margin: 0 10px;
        position: relative;
        top: unset;
        width: 72px;
      }
      .previous {
        background: url('/assets/img/icons/icon_back.svg') no-repeat center center;
        background-size: contain;
      }
      .shuffle {
        background: url('/assets/img/icons/shuffler-gris-fonce.svg') no-repeat center center;
        background-size: contain;
      }
    }
    .progressBar {
      display: flex;
      justify-content: space-between;
      margin: 5px 0;
      position: relative;
      width: 100%;
      mat-slider {
        padding: 6px;
        width: 82%;
        position: relative;
        &.mat-slider-horizontal .mat-slider-track-wrapper {
          height: 3px;
          border-radius: 3.6px;
          top: 2px;
        }
        .mat-slider-thumb {
          height: 14px;
          top: -5px;
          right: -10px;
          width: 14px;
        }

        .mat-slider-track-fill {
          background-image: linear-gradient(to right, #eb4c56 0%, #ee6069 78%);
          transition: none;
        }
      }
      span {
        font-size: 12px;
        color: #51596d;
      }
    }
  }
  .volume {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 20%;
  }
}

//Responsive
@media screen and (max-width: 800px) {
  .player-container {
    flex-direction: column;
    padding: 0 0 0 26px;
    .cover {
      width: 100%;
      .title {
        overflow: hidden;
        padding-top: 14px;
        &.desktop {
          display: none;
        }
        &.mobile {
          display: block;
          span {
            display: inline-block;
            font-size: 13.5px;
            font-weight: 500;
            line-height: 1.04;
            letter-spacing: normal;
            color: #51596d;
            &:last-child {
              color: #ababab;
            }
          }
        }
      }
    }
    .controls {
      &.desktop {
        display: none;
      }
      &.mobile {
        display: flex;
        flex-direction: row;
        position: relative;
        top: -40px;
        width: 100%;
        .progressBar {
          padding-left: 62px;
          position: absolute;
          top: -42px;
          width: 85%;
          @media screen and (max-width: 420px) {
            width: 78%;
          }
          @media screen and (max-width: 376px) {
            width: 72%;
          }
          @media screen and (max-width: 360px) {
            width: 70%;
          }
          @media screen and (min-width: 490px) {
            width: 100%;
          }
        }
        .top-controls {
          justify-content: space-between;
          padding-left: 72px;
          width: 60%;
          > div {
            display: flex;
          }
        }
        .button-play {
          position: absolute;
          right: 0;
          .play,
          .pause {
            height: 90px;
            top: -62px;
            width: 90px;
            @media screen and (max-width: 350px) {
              height: 75px;
              margin: 0;
              width: 75px;
            }
          }
        }
      }
    }
    .volume {
      display: none;
    }
  }
}

@media screen and (max-width: 800px) {
  @supports (-webkit-touch-callout: none) {
    /* CSS specific to iOS devices */
    .player-container {
      height: 93px;
      .controls {
        .top-controls {
          button {
            top: 20px;
          }
        }
      }
    }
  }
}
