<div class="player-container">
  <div class="cover">
    <div class="cover-img">
      <img *ngIf="currentPlaying" src="{{ currentPlaying.cover }}" alt="{{ currentPlaying.title}}">
      <img *ngIf="!currentPlaying && songs && songs[0]" src="{{songs[0].cover}}" alt="cover">
      <img *ngIf="!currentPlaying && !songs" src="/assets/img/default_icon.jpg" alt="Logo MW cover">
    </div>
    <div class="title desktop" *ngIf="currentPlaying">
      <span>{{currentPlaying.title }}</span>
      <span>{{currentPlaying.artist}}</span>
    </div>
    <div class="title desktop" *ngIf="!currentPlaying && songs">
      <span *ngIf="songs && songs[0]">{{songs[0].title }}</span>
      <span *ngIf="songs && songs[0]">{{songs[0].artist}}</span>
    </div>
    <div class="title mobile" *ngIf="currentPlaying">
      <span class="fadeInLeft">
        <span>{{currentPlaying.title  }}</span> - <span>{{currentPlaying.artist}}</span>
      </span>
    </div>
    <div class="title mobile" *ngIf="!currentPlaying && songs">
      <span class="fadeInLeft">
        <span *ngIf="songs && songs[0]">{{songs[0].title}}</span> - <span *ngIf="songs[0]">{{songs[0].artist }}</span>
      </span>
    </div>
  </div>
  <div class="controls desktop">
    <div class="top-controls">
      <button class="shuffle" appShuffle (click)="shuffle()"></button>
      <button class="previous" previousTrack (click)="stateTruePrevious()"></button>
      <div *ngIf="state" (click)="pauseSong()">
        <button class="pause" pauseMusic=""></button>
      </div>
      <div (click)="playSong()" *ngIf="!state && songs"><button class="play" playMusic></button></div>
      <button class="next" nextTrack (click)="stateTrueNext()"></button>
      <button class="repeat" appRepeat (click)="repeat()"></button>
    </div>
    <div class="progressBar">
      <span *ngIf="currentPlaying">{{currentTrackPosition | humanTime }}</span>
      <span *ngIf="!currentPlaying">00:00</span>
      <mat-slider [value]="progress" ProgressBar></mat-slider>
      <span *ngIf="currentPlaying">{{ currentPlaying.duration | minutesSeconds }}</span>
      <span *ngIf="!currentPlaying && songs && songs[0]">{{ songs[0].duration | minutesSeconds }}</span>
    </div>
  </div>
  <div class="controls mobile">
    <div class="progressBar">
      <mat-slider [value]="progress" ProgressBar></mat-slider>
    </div>
    <div class="top-controls">
      <div class="left">
        <button class="previous" previousTrack (click)="stateTruePrevious()"></button>
        <button class="next" nextTrack (click)="stateTrueNext()"></button>
      </div>
      <div class="right">
        <button class="shuffle" appShuffle (click)="shuffle()"></button>
        <button class="repeat" appRepeat (click)="repeat()"></button>
      </div>
      <div class="button-play">
        <div *ngIf="state" (click)="pauseSong()">
          <button class="pause" pauseMusic=""></button>
        </div>
        <div (click)="playSong()" *ngIf="!state && songs"><button class="play" playMusic></button></div>
      </div>
    </div>
  </div>
  <div class="volume">
    <button class="volumeDown" (click)="toggleMute()">
      <fa-icon *ngIf="mute" [icon]="volumeMute" size="1x" ></fa-icon>
      <img *ngIf="!mute" src="/assets/img/icons/volume.svg" alt="Volume">
    </button>
    <mat-slider [ngClass]="{'muted': mute}" value="100" (input)='getVolumeSlider($event)'></mat-slider>

  </div>
</div>
