/* You can add global styles to this file, and also import other style files */
@import 'partials/reset';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

$break-large: 1200px;
$break-tabs: 800px;
$break-sm: 576px;
$break-xs: 400px;

@font-face {
  font-family: CeraMedium;
  src: url('/assets/fonts/CeraProMedium.otf?#iefix') format('embedded-opentype');
}

@font-face {
  font-family: 'Cera';
  src: url('/assets/fonts/cera_pro-webfont.woff2') format('woff2'),
    url('/assets/fonts/cera_pro-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Bold';
  src: url('/assets/fonts/CeraPro-Bold.woff2') format('woff2'), url('/assets/fonts/CeraPro-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

strong {
  font-weight: bold;
}

button {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  &:hover {
    cursor: pointer;
  }
  &:disabled {
    opacity: 0.65;
    cursor: not-allowed;
  }
}

/* Reset `button` and button-style `input` default styles */
input[type='submit'],
input[type='reset'],
input[type='button'],
button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button; /* for input */
  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

h1 {
  font-size: 52px;
  font-weight: bold;
}

h2 {
  font-size: 22px;
}

body {
  background-color: rgba(255, 255, 255, 0.95);
  font-family: Cera, sans-serif;
  margin: auto;
}

ebo-home {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.95);
}

:focus {
  outline: none;
}

::-webkit-scrollbar-track {
  border-radius: 3.1px;
  background-color: rgba(0, 0, 0, 0.02);
}

::-webkit-scrollbar {
  width: 4px;
  background-color: rgba(0, 0, 0, 0.02);
}

::-webkit-scrollbar-thumb {
  border-radius: 1.5px;
  background-color: rgba(0, 0, 0, 0.15);
}

.show-responsive {
  display: none;
  @media screen and (max-width: $break-tabs) {
    display: block;
  }
}

.hide-responsive {
  @media screen and (max-width: $break-tabs) {
    display: none;
  }
}

.mat-slider.mat-slider-horizontal {
  height: auto;
}

.mat-slider.mat-slider-horizontal .mat-slider-wrapper {
  top: 5px;
}
.mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
  height: 5px;
}
.mat-slider.mat-slider-horizontal .mat-slider-track-background,
.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  height: 100%;
}

.mat-slider.mat-slider-horizontal .mat-slider-track-background {
  background: #ececec;
  transition: none;
}
.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  background-color: #51596d;
  transition: none;
}
.mat-accent .mat-slider-thumb {
  background-color: white !important;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.22);
  height: 20px;
  right: -15px;
  top: -8px;
  width: 20px;
}
.mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
  background-color: white;
}

.cdk-focused .mat-slider-thumb {
  width: 17px;
  height: 17px;
  top: -6px;
  right: -10px;
  border-width: 5px !important;
}

.muted.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  background-color: white;
}

.mat-slider-wrapper {
  .mat-slider-thumb-container {
    transition: none !important;
  }
}

.muted {
  .mat-slider-wrapper {
    .mat-slider-thumb-container {
      transform: translateX(0%) !important;
      .mat-slider-thumb {
        position: absolute;
        left: -5px;
      }
    }
  }
}

.mat-slider:hover .mat-slider-thumb {
  transform: scale(1);
}

.mat-slider.cdk-mouse-focused:hover .mat-slider-thumb {
  transform: scale(1.4) !important;
}

.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.8);
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 0;
}
.mat-dialog-container {
  background: transparent;
  box-shadow: none;
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  width: 100%;
}

//Snackbar
.success-snackbar {
  background: #ff5353;
  color: white;
}

.danger-snackbar {
  background: #dc3545;
  color: white;
}

//Menu
.mat-menu-content:not(:empty) {
  padding: 0 !important;
}

button.mat-menu-item {
  width: 71% !important;
}

//tooltip

mat-tooltip-component {
  &:after {
    content: '';
    position: absolute;
    bottom: 72%;
    left: 40%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #262626 transparent;
  }
}

.tooltip-shareitem {
  background-color: #262626;
  border-radius: 0 !important;
  position: relative;
  font-family: 'Work Sans', sans-serif;
  left: -16px;
  line-height: 1.07;
  letter-spacing: -0.11px;
  text-align: center;
}

@media screen and (max-width: 1100px) {
  .cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    opacity: 1;
  }

  .cdk-overlay-dark-backdrop {
    background: white;
  }

  mat-tooltip-component {
    display: none;
  }
}
