<div id="chat-circle" class="btn btn-raised" (click)="toggleChat()" *ngIf="toggle">
  <mat-icon>chat</mat-icon>
</div>

<div class="chat-box" *ngIf="!toggle">
  <div class="chat-box-header">
    Music Player Chatbot
    <span class="chat-box-toggle" (click)="toggleChat()"><mat-icon>close</mat-icon></span>
  </div>
  <div class="chat-box-body">
    <div class="chat-box-overlay">
    </div>
    <div class="chat-logs">
      <div class="chat-msg" *ngFor="let message of messages | async" [ngClass]="{ 'bot': message.sentBy === 'bot',
                                                                                  'user': message.sentBy === 'user'}">
        <div class="cm-msg-text">
          {{message.content}}
        </div>
      </div>
    </div><!--chat-log -->
  </div>
  <div class="chat-input">
    <form [formGroup]="form">
      <input id="chat-input" formControlName="message">
      <button type="submit" (click)="sendMessage()" class="chat-submit" id="chat-submit"><mat-icon>send</mat-icon></button>
    </form>
  </div>
</div>
