#chat-circle {
  align-items: center;
  bottom: 80px;
  background: #ec555f;
  color: white;
  display: flex;
  justify-content: center;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  padding: 28px;
  right: 50px;
  position: fixed;
  cursor: pointer;
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.6), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.chat-box {
  background: #efefef;
  position: fixed;
  right: 30px;
  bottom: 50px;
  width: 350px;
  max-width: 85vw;
  max-height: 100vh;
  border-radius: 5px;
  box-shadow: 0 5px 35px 9px #ccc;

  .chat-box-toggle {
    float: right;
    margin-right: 15px;
    cursor: pointer;
  }

  .chat-box-header {
    background: #ec555f;
    height: 40px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    text-align: center;
    font-size: 20px;
    padding-top: 17px;
  }

  .chat-box-body {
    position: relative;
    height: auto;
    border: 1px solid #ccc;
    overflow: hidden;

    &:after {
      content: "";
      opacity: 0.1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: 100%;
      position: absolute;
      z-index: -1;
    }
  }

  #chat-input {
    background: #f4f7f9;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    height: 44px;
    padding: 10px 60px 10px 15px;
    resize: none;
    outline: none;
    border: 1px solid #ccc;
    color: #888;
    border-top: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow: hidden;

    > form {
      margin-bottom: 0;
    }

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #ccc;
    }

    &::-moz-placeholder { /* Firefox 19+ */
      color: #ccc;
    }

    &:-ms-input-placeholder { /* IE 10+ */
      color: #ccc;
    }

    &:-moz-placeholder { /* Firefox 18- */
      color: #ccc;
    }
  }

  .chat-submit {
    position: absolute;
    bottom: 3px;
    right: 10px;
    background: transparent;
    box-shadow: none;
    border: none;
    border-radius: 50%;
    color: #ec555f;
    width: 35px;
    height: 35px;
  }

  .chat-logs {
    padding: 15px;
    height: 370px;
    overflow-y: scroll;

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #F5F5F5;
    }

    &::-webkit-scrollbar {
      width: 5px;
      background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #ec555f;
    }
  }
}

@media only screen and (max-width: 500px) {
  .chat-logs {
    height: 40vh;
  }
}

.cm-msg-text {
  background: white;
  padding: 10px 15px 10px 15px;
  color: #666;
  max-width: 75%;
  float: left;
  margin-left: 10px;
  position: relative;
  margin-bottom: 20px;
  border-radius: 30px;
}

.chat-msg {
  clear: both;
}

.chat-msg.user > .cm-msg-text {
  float: right;
  margin-right: 10px;
  background: #ec555f;
  color: white;
}

.cm-msg-button > ul > li {
  list-style: none;
  float: left;
  width: 50%;
}

.cm-msg-button {
  clear: both;
  margin-bottom: 70px;
}
